<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="MySqlconnectionString" connectionString="Max Pool Size=512;server=localhost;User Id=sfis_user;password=BNCxCd2zfDabK3Hh;Persist Security Info=True;database=newspublish;" providerName="MySql.Data.MySqlClient"/>
      <add name="Factory_cdoe" connectionString="YIYU"/>
      <add name="Productname" connectionString="caddytrek"/>
      <add name="ipaddress" connectionString="192.168.2.105"/>
      <add name="MySqlconnectionString1" connectionString="Max Pool Size=512;server=192.168.1.2;User Id=root;password=;Persist Security Info=True;database=newspublish" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
